body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: url('./assets/header.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__overlay {
  content: '';
  position: absolute;
  top: 0; bottom: 0;right: 0;left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.custom-btn {
  padding: 0 !important;
}
.link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
}
.link:hover {
  text-decoration: none;
  color: #fff
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20;
}

.about__list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__list li {
  margin-right: 20px;
  transition: .2s ease all;
}

.instagram {
  height: 40px;
  width: 40px;
  background: url('./assets/instagram.png') no-repeat;
  background-size: cover;
}
.facebook {
  height: 40px;
  width: 40px;
  background: url('./assets/facebook.png') no-repeat;
  background-size: cover;
}
.linkedIn {
  height: 40px;
  width: 40px;
  background: url('./assets/linkedIn.png') no-repeat;
  background-size: cover;
}
.github {
  height: 40px;
  width: 40px;
  background: url('./assets/github.png') no-repeat;
  background-size: cover;
}

.about__list li:hover {
  transform: scale(1.3);
  transition: .2s ease all;
}

.footer {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.news-block {
  transition: .1s ease all;
}

.news-block:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}